@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: 29 22 22;
    --surface: 44 29 29;
    --primary: 142 22 22;
    --accent: 216 64 64;
    --text: 238 238 238;

    --victimKilled: 255 92 92;
    --suspectWounded: 255 196 87;
}

[data-theme="light"] {
    --bg: 238 238 238;
    --surface: 247 247 247;
    --primary: 216 64 64;
    --accent: 142 22 22;
    --text: 29 22 22;

    --victimKilled: 200 50 50;
    --suspectWounded: 180 140 40;
}